Repository CS3219-AY2324S1/ay2324s1-course-assessment-g42, pull requests merged in 2023-11, with the labels that each got.

#72 Update userprofile UI
  frontend/src/App.css
  frontend/src/components/navBar.js
  frontend/src/components/users/deleteUser.js
  frontend/src/components/users/editUser.js
  frontend/src/components/users/logoutUser.js
  frontend/src/pages/UserProfile.js
Labels: frontend

#73 encrypt passwords
  user-service/controllers/user-controller.js
Labels: enhancement, backend

#74 Add question filtering
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/questions/formAddCategories.js
  frontend/src/components/questions/formDialog.js
  frontend/src/components/questions/questionsFilter.js
  frontend/src/components/questions/questionsTable.js
  frontend/src/components/questions/questionsTitleFilter.js
  frontend/src/pages/questions.js
  frontend/src/styles/questions.css
  question-service/controllers/category-controller.js
  question-service/controllers/question-controller.js
  question-service/index.js
  question-service/models/categories.js
  question-service/routes/category-route.js
Labels: frontend, backend

#78 update matching page ui according to wireframe
  frontend/src/App.css
  frontend/src/components/match/matchComplexitySelect.js
  frontend/src/components/match/matchLanguageSelect.js
  frontend/src/images/matching_1.png
  frontend/src/pages/match.js
Labels: frontend

#77 bugfix: collab page blank on refresh
  frontend/src/pages/collab.js
Labels: bug, frontend

#79 Update collab UI
  frontend/src/App.js
  frontend/src/pages/collab.js
  frontend/src/styles/collab.css
Labels: frontend

#80 Update question UI
  frontend/src/App.css
  frontend/src/components/questions/formDialog.js
  frontend/src/components/questions/questionsFilter.js
  frontend/src/components/questions/questionsTable.js
  frontend/src/components/questions/questionsTitleFilter.js
  frontend/src/pages/questions.js
  frontend/src/styles/questions.css
  question-service/controllers/question-controller.js
Labels: frontend, backend

#81 Add History UI
  frontend/src/components/users/questionHistory.js
  frontend/src/pages/UserProfile.js
  frontend/src/styles/userProfile.css
Labels: frontend

#82 fix matched user username disappearing on refresh
  frontend/src/pages/collab.js
Labels: bug, frontend

#84 Update homepage UI
  frontend/src/App.css
  frontend/src/components/users/homePage.js
  frontend/src/components/users/landingPage.js
  frontend/src/components/users/questionHistory.js
  frontend/src/images/home_1.png
  frontend/src/images/home_2.png
  frontend/src/pages/home.js
Labels: frontend

#87 add exit button to collaboration room
  frontend/src/pages/collab.js
Labels: frontend

#89 Implement edit question
  frontend/src/App.js
  frontend/src/components/questions/formAddCategories.js
  frontend/src/components/questions/formCategoriesSelect.js
  frontend/src/components/questions/formDialog.js
  frontend/src/components/questions/questionInfo.js
  frontend/src/pages/editQuestion.js
  question-service/controllers/question-controller.js
  question-service/routes/question-route.js
Labels: enhancement, frontend, backend

#92 Add more tests for questions and categories
  question-service/controllers/category-controller.js
  question-service/test/question-service-test.js
Labels: testing

#93 add tests for collab
  .github/workflows/test.yml
  collaboration-service/package-lock.json
  collaboration-service/package.json
  collaboration-service/test/collaboration-service-test.js
  frontend/src/components/users/deleteUser.js
  frontend/src/components/users/editUser.js
  frontend/src/components/users/logoutUser.js
  frontend/src/helpers/logout.js
  frontend/src/pages/UserProfile.js
  frontend/src/pages/collab.js
  frontend/src/pages/editQuestion.js
  frontend/src/pages/questions.js
  frontend/src/pages/viewUsers.js
Labels: testing

#95 update users to follow mvc architecture
  user-service/controllers/user-controller.js
  user-service/models/user-model.js
Labels: backend

#107 remove video space fr collaboration room
  frontend/src/pages/collab.js
Labels: frontend
