Repository CS3219-AY2324S1/ay2324s1-course-assessment-g42, pull requests merged in 2023-10, with the labels that each got.

#18 add roles and jwt auth
  backend/controllers/user-controller.js
  backend/index.js
  backend/middleware/auth.js
  backend/package-lock.json
  backend/package.json
  backend/routes/question-route.js
  backend/routes/user-route.js
  frontend/src/App.js
  frontend/src/components/navBar.js
  frontend/src/components/questions/formDialog.js
  frontend/src/components/questions/questionInfo.js
  frontend/src/components/users/deleteUser.js
  frontend/src/components/users/editUser.js
  frontend/src/components/users/logoutUser.js
  frontend/src/pages/UserProfile.js
  frontend/src/pages/login.js
  frontend/src/pages/questions.js
  frontend/src/pages/signup.js
  frontend/src/pages/viewUsers.js
Labels: frontend, backend

#23 Split microservices
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/setupProxy.js
  frontend/src/components/users/deleteUser.js
  frontend/src/components/users/editUser.js
  frontend/src/config.js
  frontend/src/helpers.js
  frontend/src/pages/UserProfile.js
  frontend/src/pages/login.js
  frontend/src/pages/questions.js
  frontend/src/pages/signup.js
  frontend/src/pages/viewUsers.js
  question-service/.gitignore
  question-service/controllers/question-controller.js
  question-service/index.js
  question-service/middleware/auth.js
  question-service/models/questions.js
  question-service/mongo-db.js
  question-service/package-lock.json
  question-service/package.json
  question-service/routes/question-route.js
  user-service/.gitignore
  user-service/controllers/user-controller.js
  user-service/index.js
  user-service/middleware/auth.js
  user-service/package-lock.json
  user-service/package.json
  user-service/psql-db.js
  user-service/routes/user-route.js
Labels: backend

#30 Add pagination to questions page
  frontend/src/App.js
  frontend/src/components/navBar.js
  frontend/src/components/questions/formDialog.js
  frontend/src/pages/questions.js
  question-service/controllers/question-controller.js
  question-service/routes/question-route.js
Labels: frontend

#44 add more tests
  question-service/test/question-service-test.js
  user-service/controllers/user-controller.js
  user-service/test/user-service-test.js
Labels: testing

#45 Collab UI and socket setup
  collaboration-service/.gitignore
  collaboration-service/index.js
  collaboration-service/package-lock.json
  collaboration-service/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/helpers/questionFormatters.js
  frontend/src/pages/collab.js
  frontend/src/styles/collab.css
  question-service/controllers/question-controller.js
  question-service/routes/question-route.js
Labels: frontend, backend

#49 add method to get random question by complexity and tests
  question-service/controllers/question-controller.js
  question-service/routes/question-route.js
  question-service/test/question-service-test.js
Labels: backend, testing

#51 Pass roomId to collab page
  collaboration-service/package-lock.json
  frontend/src/App.js
  frontend/src/pages/collab.js
  frontend/src/pages/match.js
  matching-service/package-lock.json
  user-service/package-lock.json
Labels: frontend

#62 Move user related checks that do not require db to frontend
  frontend/src/pages/signup.js
  user-service/controllers/user-controller.js
  user-service/test/user-service-test.js
Labels: frontend, backend
